<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FODUN</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/sistemaReservas.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="main-header">
        <div class="header-container">
            <!-- LOGO -->
            <div class="logo-box">
            <img src="~/images/fodun.png" class="logo" />
                </div>

            <!-- FODUN grande -->
                <div class="header-info">
                    <div class="logo-fodun">
                    FODUN
                    </div>


            <div class="info-box">
                <h2>SISTEMA DE RESERVAS</h2>
                <p>Sedes Recreativas y Apartamentos</p>
                </div>
            </div>
       </div>    

    </header>

        <!-- 🔥 MENÚ ABAJO DEL HEADER -->
        <nav class="header-nav">
            <div class="nav-container">
                <a asp-controller="Sedes" asp-action="Index">Sedes recreativas y apartamentos</a>
                <a asp-controller="Auth" asp-action="Login">Inicio y Registro</a>
            </div>
     <div class="nav-auth">
        <div class="nav-container d-flex justify-content-between align-items-center">
            @if (User.Identity.IsAuthenticated)
            {
                <span class="text-red me-3">
                    Bienvenido, @User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value
                </span>

                <form asp-controller="Auth"
                      asp-action="Logout"
                      method="post"
                      style="display:inline;">

                     <button type="submit"
                             class="btn btn-light btn-sm">

                            Cerrar sesión

                     </button>

                </form>
            }
        </div>
    </div>

        </nav>

    
    <main class="container flex-grow-1 py-4">
            @RenderBody()
    </main>

    <!--<footer class="border-top footer text-muted">
    <!-- <div class="container">
    <!-- &copy; 2026 - sistemaReservas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    <!-- </div>
    <!--</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
