@model SistemaReservas.Models.Reservas

@{
    ViewData["Title"] = "Edit";
}
<div class="container mt-4">

    <div class="fodun-panel">

        <h2 class="fodun-section-title">
            Habitaciones / Alojamientos
        </h2>


<h1>Edit</h1>

<h4>Reservas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FechaReserva" class="control-label"></label>
                <input asp-for="FechaReserva" class="form-control" />
                <span asp-validation-for="FechaReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaLLegada" class="control-label"></label>
                <input asp-for="FechaLLegada" class="form-control" />
                <span asp-validation-for="FechaLLegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSalida" class="control-label"></label>
                <input asp-for="FechaSalida" class="form-control" />
                <span asp-validation-for="FechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantidadPersonas" class="control-label"></label>
                <input asp-for="cantidadPersonas" class="form-control" />
                <span asp-validation-for="cantidadPersonas" class="text-danger"></span>
            </div>
                    <div class="form-group mb-3">

                        <label asp-for="TipoTarifa" class="control-label">
                            Tipo de tarifa
                        </label>

                        <select asp-for="TipoTarifa" class="form-control">

                            <option value="1">Ordinaria</option>

                            <option value="2">Especial</option>

                        </select>

                        <span asp-validation-for="TipoTarifa"
                              class="text-danger">
                        </span>

                    </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-check-input" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alojamiento" class="control-label"></label>

                <select asp-for="AlojamientoId"
                        asp-items="ViewBag.Alojamiento"
                        class="form-control">

                    <option value="">Seleccione un alojamiento</option>

                </select>

                <span asp-validation-for="AlojamientoId"
                      class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</div>
</div>