@{
    ViewData["Title"] = "Privacy Policy";
}
<a asp-controller="Sedes"
   asp-action="Index"
   class="btn btn-primary">
    Ir a Sedes O Principal
</a>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
